::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Jua', sans-serif;
    width: 1060px;
    font-size: 1.8rem;
}

.header {
    background-color: aqua;
    height: 72px;
}

.container {
    max-width: 1400px;
    background: orange;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.logo {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.nav {
    text-align: right;
}

.list {
    margin: 0;
}

.list-item {
    display: inline-block;
}

.hero-section {
    background-color: skyblue;
}

.main-content {
    float: left;
    width: 70%;
    background: pink;
}

.side-content {
    float: left;
    width: 30%;
    background: yellow;
}

.footer {
    background: green;
}